## 1. How to import data

Before using python, we need to import some required modules：

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

There are many ways to import data. Here we directly click the upload icon in the upper left corner of the web page to manually import the table (csv file) we need.

In [2]:
filename = 'brass.csv'
brass_data = pd.read_csv(filename, skiprows=6, delimiter=',')

# Since the first 6 rows of the table are not the data we need, 
# we use the "skiprow" command to skip them. 

# Since the delimiter of each data in brass.csv is ",", 
# we use the delimiter=',' command to prevent data reading errors.

In [3]:
brass_data.head(n=5) # Display the first 5 rows of data in brass_data

   Unnamed: 0  (s)    (mm)      (N)
0         NaN  0.0  0.0000  39.3799
1         NaN  0.1  0.0042  43.7967
2         NaN  0.2  0.0175  45.0747
3         NaN  0.3  0.0481  45.3055
4         NaN  0.4  0.0677  45.9245

The `brass_data.iloc[:, 1]` will extract all the data from the 2nd column starting from the first row to the last row of the data table.（Counting in python starts from 0, not 1）

If we want to read the 4th column and the data from the 1st to the 6rd row, we can write like this: `brass_data.iloc[0:6, 3]`

In [4]:
time = brass_data.iloc[:, 1]         # Extracting data from the 2nd column (index 1)
displacement = brass_data.iloc[:, 2]  # Extracting data from the 3rd column (index 2)
force = brass_data.iloc[:, 3]         # Extracting data from the 4th column (index 3)

We can also manually enter data：

In [ ]:
width = 12.73
thickness = 1.52
length = 78.49

## 2. How to do calculations

We need to perform a unit conversion. Convert the unit of `force` from N to kN, and convert the unit of `displacement` from mm to inch.

In [ ]:
force_kN = force * 0.001                   # Converting force from N to kN
y = force_kN

displacement_inch = displacement * 0.0394  # Converting displacement from mm to inch
x = displacement_inch